<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Semi-colon delimited. Ex. .jpg;.txt; -->
    <add key="acceptedFileExtensions" value=".txt;.log;.html;.pdf" />
  </appSettings>
</configuration>